.nav {
    overflow: hidden;
}

ul {
    list-style-type: none;
}

li a {
    text-decoration: none;
    color: black;
}

.calendar, .address, .map, .logout {
    display: inline-block;
}

.address, .map, .forms, .logout {
    padding-left: 50px;
}
